In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=71c83ab5952d5640509e2afc0c4ced3182a6903e1312e8b64dd31fc42f174ce5
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Govardhan').getOrCreate()

In [3]:
spark

In [4]:
df = spark.read.option("Header","True").csv("/content/automobile.csv")

In [5]:
df.show()

+-----------+-----------+------+------+-------+-------+
|    company| body-style|length|engine|mileage|sunroof|
+-----------+-----------+------+------+-------+-------+
|alfa-romero|convertible| 168.8|  dohc|     21|     No|
|alfa-romero|  hatchback| 171.2|  dohc|     19|     No|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|
|       audi|      sedan| 176.6|  None|     18|    Yes|
|       audi|      sedan| 177.3|   ohc|     19|    Yes|
|       audi|      wagon| 192.7|   ohc|     19|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     21|    Yes|
|        bmw|      sedan|   189|   ohc|     16|    Yes|
|        bmw|      sedan| 193.8|   ohc|     16|    Yes|
|        bmw|      sedan|   197|   ohc|     15|    Yes|
|  chevrolet|  hatchback| 141.1|   ohc|     47|     No|
|  chevrolet|  hatchback| 155.9|   ohc|     38|     No|
|  chevrolet|      sedan| 158.8|   ohc|     38|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      honda|      wagon| 157.1|   ohc|     30|     No|
|      honda|      sedan| 175.4|   ohc|     24|     No|
|      honda|      sedan| 169.1|   ohc|     25|     No|
+-----------+-----------+------+------+-------+-------+
only showing top 20 rows

In [6]:
df.select("company").distinct().show()

+-------------+
|      company|
+-------------+
|       jaguar|
|   mitsubishi|
|       toyota|
|         audi|
|  alfa-romero|
|          bmw|
|        dodge|
|        mazda|
|mercedes-benz|
|        isuzu|
|      porsche|
|    chevrolet|
|        honda|
|   volkswagen|
|       nissan|
|        volvo|
+-------------+

In [7]:
#find all body style of cars
df.select("body-style").distinct().show()

+-----------+
| body-style|
+-----------+
|      wagon|
|convertible|
|      sedan|
|  hatchback|
|    hardtop|
+-----------+

In [8]:
df.limit(3).show()

+-----------+-----------+------+------+-------+-------+
|    company| body-style|length|engine|mileage|sunroof|
+-----------+-----------+------+------+-------+-------+
|alfa-romero|convertible| 168.8|  dohc|     21|     No|
|alfa-romero|  hatchback| 171.2|  dohc|     19|     No|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|
+-----------+-----------+------+------+-------+-------+

In [9]:
#find top three models by length
df.sort(df.length.desc()).limit(3).show()

+-------------+----------+------+------+-------+-------+
|      company|body-style|length|engine|mileage|sunroof|
+-------------+----------+------+------+-------+-------+
|mercedes-benz|     sedan| 208.1|  ohcv|     14|    Yes|
|       jaguar|     sedan| 199.6|  dohc|     15|    Yes|
|       jaguar|     sedan| 199.6|  dohc|     15|    Yes|
+-------------+----------+------+------+-------+-------+

In [10]:
#find all car models above 160 length
df[df['length']>160].show()

+-----------+-----------+------+------+-------+-------+
|    company| body-style|length|engine|mileage|sunroof|
+-----------+-----------+------+------+-------+-------+
|alfa-romero|convertible| 168.8|  dohc|     21|     No|
|alfa-romero|  hatchback| 171.2|  dohc|     19|     No|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|
|       audi|      sedan| 176.6|  None|     18|    Yes|
|       audi|      sedan| 177.3|   ohc|     19|    Yes|
|       audi|      wagon| 192.7|   ohc|     19|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     21|    Yes|
|        bmw|      sedan|   189|   ohc|     16|    Yes|
|        bmw|      sedan| 193.8|   ohc|     16|    Yes|
|        bmw|      sedan|   197|   ohc|     15|    Yes|
|      honda|      sedan| 175.4|   ohc|     24|     No|
|      honda|      sedan| 169.1|   ohc|     25|     No|
|      isuzu|      sedan| 170.7|   ohc|     24|     No|
|     jaguar|      sedan| 199.6|  dohc|     15|    Yes|
|     jaguar|      sedan| 199.6|  dohc|     15|    Yes|
|     jaguar|      sedan| 191.7|  ohcv|     13|    Yes|
|      mazda|  hatchback|   169| rotor|     17|    Yes|
|      mazda|      sedan|   175|   ohc|     31|    Yes|
+-----------+-----------+------+------+-------+-------+
only showing top 20 rows

In [11]:
#top 5 cars with maximum mileage
df.sort(df.mileage.desc()).limit(5).show()

+---------+----------+------+------+-------+-------+
|  company|body-style|length|engine|mileage|sunroof|
+---------+----------+------+------+-------+-------+
|chevrolet| hatchback| 141.1|   ohc|     47|     No|
|   nissan|     sedan| 165.3|   ohc|     45|     No|
|    isuzu|     sedan| 155.9|   ohc|     38|     No|
|chevrolet|     sedan| 158.8|   ohc|     38|     No|
|chevrolet| hatchback| 155.9|   ohc|     38|     No|
+---------+----------+------+------+-------+-------+

In [12]:
#count no of cars with sunroof
df[df['sunroof'] == 'Yes'].count()

33

In [13]:
from pyspark.sql.functions import col

In [ ]:
# # prompt: geneate basic syntaxes of pyspark

# # Create a SparkSession
# spark = SparkSession.builder.appName("MyApp").getOrCreate()

# # Read data from a CSV file
# df = spark.read.csv("path/to/file.csv", header=True, inferSchema=True)

# # Display the DataFrame
# df.show()

# # Select specific columns
# df.select("column1", "column2").show()

# # Filter data
# df.filter(df["column1"] > 10).show()

# # Group data and perform aggregation
# df.groupBy("column1").count().show()

# # Order data
# df.orderBy("column1").show()

# # Write data to a file
# df.write.csv("path/to/output.csv", header=True, mode="overwrite")

# # Stop the SparkSession
# spark.stop()

In [15]:
df.show()

+-----------+-----------+------+------+-------+-------+
|    company| body-style|length|engine|mileage|sunroof|
+-----------+-----------+------+------+-------+-------+
|alfa-romero|convertible| 168.8|  dohc|     21|     No|
|alfa-romero|  hatchback| 171.2|  dohc|     19|     No|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|
|       audi|      sedan| 176.6|  None|     18|    Yes|
|       audi|      sedan| 177.3|   ohc|     19|    Yes|
|       audi|      wagon| 192.7|   ohc|     19|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     21|    Yes|
|        bmw|      sedan|   189|   ohc|     16|    Yes|
|        bmw|      sedan| 193.8|   ohc|     16|    Yes|
|        bmw|      sedan|   197|   ohc|     15|    Yes|
|  chevrolet|  hatchback| 141.1|   ohc|     47|     No|
|  chevrolet|  hatchback| 155.9|   ohc|     38|     No|
|  chevrolet|      sedan| 158.8|   ohc|     38|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      honda|      wagon| 157.1|   ohc|     30|     No|
|      honda|      sedan| 175.4|   ohc|     24|     No|
|      honda|      sedan| 169.1|   ohc|     25|     No|
+-----------+-----------+------+------+-------+-------+
only showing top 20 rows

In [17]:
df.printSchema()

root
 |-- company: string (nullable = true)
 |-- body-style: string (nullable = true)
 |-- length: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- sunroof: string (nullable = true)

In [21]:
df.describe().show()

+-------+-----------+-----------+------------------+------+------------------+-------+
|summary|    company| body-style|            length|engine|           mileage|sunroof|
+-------+-----------+-----------+------------------+------+------------------+-------+
|  count|         60|         60|                60|    60|                60|     60|
|   mean|       NULL|       NULL|173.17000000000007|  NULL|25.883333333333333|   NULL|
| stddev|       NULL|       NULL| 14.12891373707938|  NULL| 8.174146234724864|   NULL|
|    min|alfa-romero|convertible|             141.1|  None|                13|     No|
|    max|      volvo|      wagon|             208.1| rotor|                47|    Yes|
+-------+-----------+-----------+------------------+------+------------------+-------+

In [23]:
df.select("company").show()

+-----------+
|    company|
+-----------+
|alfa-romero|
|alfa-romero|
|       audi|
|       audi|
|       audi|
|       audi|
|        bmw|
|        bmw|
|        bmw|
|        bmw|
|        bmw|
|        bmw|
|  chevrolet|
|  chevrolet|
|  chevrolet|
|      dodge|
|      dodge|
|      honda|
|      honda|
|      honda|
+-----------+
only showing top 20 rows

In [26]:
df.select(df['company'],df['mileage']).show()

+-----------+-------+
|    company|mileage|
+-----------+-------+
|alfa-romero|     21|
|alfa-romero|     19|
|       audi|     24|
|       audi|     18|
|       audi|     19|
|       audi|     19|
|        bmw|     23|
|        bmw|     23|
|        bmw|     21|
|        bmw|     16|
|        bmw|     16|
|        bmw|     15|
|  chevrolet|     47|
|  chevrolet|     38|
|  chevrolet|     38|
|      dodge|     31|
|      dodge|     31|
|      honda|     30|
|      honda|     24|
|      honda|     25|
+-----------+-------+
only showing top 20 rows

In [27]:
#filtering rows
df.filter("mileage > 20").show()

+-----------+-----------+------+------+-------+-------+
|    company| body-style|length|engine|mileage|sunroof|
+-----------+-----------+------+------+-------+-------+
|alfa-romero|convertible| 168.8|  dohc|     21|     No|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     21|    Yes|
|  chevrolet|  hatchback| 141.1|   ohc|     47|     No|
|  chevrolet|  hatchback| 155.9|   ohc|     38|     No|
|  chevrolet|      sedan| 158.8|   ohc|     38|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      honda|      wagon| 157.1|   ohc|     30|     No|
|      honda|      sedan| 175.4|   ohc|     24|     No|
|      honda|      sedan| 169.1|   ohc|     25|     No|
|      isuzu|      sedan| 170.7|   ohc|     24|     No|
|      isuzu|      sedan| 155.9|   ohc|     38|     No|
|      isuzu|      sedan| 155.9|   ohc|     38|     No|
|      mazda|  hatchback| 159.1|   ohc|     30|    Yes|
|      mazda|  hatchback| 159.1|   ohc|     31|    Yes|
|      mazda|  hatchback| 159.1|   ohc|     31|    Yes|
|      mazda|      sedan|   175|   ohc|     31|    Yes|
+-----------+-----------+------+------+-------+-------+
only showing top 20 rows

In [29]:
#filtering rows
df.filter(df['mileage'] > 20).show()

+-----------+-----------+------+------+-------+-------+
|    company| body-style|length|engine|mileage|sunroof|
+-----------+-----------+------+------+-------+-------+
|alfa-romero|convertible| 168.8|  dohc|     21|     No|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     21|    Yes|
|  chevrolet|  hatchback| 141.1|   ohc|     47|     No|
|  chevrolet|  hatchback| 155.9|   ohc|     38|     No|
|  chevrolet|      sedan| 158.8|   ohc|     38|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      honda|      wagon| 157.1|   ohc|     30|     No|
|      honda|      sedan| 175.4|   ohc|     24|     No|
|      honda|      sedan| 169.1|   ohc|     25|     No|
|      isuzu|      sedan| 170.7|   ohc|     24|     No|
|      isuzu|      sedan| 155.9|   ohc|     38|     No|
|      isuzu|      sedan| 155.9|   ohc|     38|     No|
|      mazda|  hatchback| 159.1|   ohc|     30|    Yes|
|      mazda|  hatchback| 159.1|   ohc|     31|    Yes|
|      mazda|  hatchback| 159.1|   ohc|     31|    Yes|
|      mazda|      sedan|   175|   ohc|     31|    Yes|
+-----------+-----------+------+------+-------+-------+
only showing top 20 rows

In [31]:
#adding colums
df.withColumn("mileage_plus_10",df['mileage']+10).show()

+-----------+-----------+------+------+-------+-------+---------------+
|    company| body-style|length|engine|mileage|sunroof|mileage_plus_10|
+-----------+-----------+------+------+-------+-------+---------------+
|alfa-romero|convertible| 168.8|  dohc|     21|     No|           31.0|
|alfa-romero|  hatchback| 171.2|  dohc|     19|     No|           29.0|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|           34.0|
|       audi|      sedan| 176.6|  None|     18|    Yes|           28.0|
|       audi|      sedan| 177.3|   ohc|     19|    Yes|           29.0|
|       audi|      wagon| 192.7|   ohc|     19|    Yes|           29.0|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|           33.0|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|           33.0|
|        bmw|      sedan| 176.8|   ohc|     21|    Yes|           31.0|
|        bmw|      sedan|   189|   ohc|     16|    Yes|           26.0|
|        bmw|      sedan| 193.8|   ohc|     16|    Yes|           26.0|
|        bmw|      sedan|   197|   ohc|     15|    Yes|           25.0|
|  chevrolet|  hatchback| 141.1|   ohc|     47|     No|           57.0|
|  chevrolet|  hatchback| 155.9|   ohc|     38|     No|           48.0|
|  chevrolet|      sedan| 158.8|   ohc|     38|     No|           48.0|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|           41.0|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|           41.0|
|      honda|      wagon| 157.1|   ohc|     30|     No|           40.0|
|      honda|      sedan| 175.4|   ohc|     24|     No|           34.0|
|      honda|      sedan| 169.1|   ohc|     25|     No|           35.0|
+-----------+-----------+------+------+-------+-------+---------------+
only showing top 20 rows

In [32]:
#droping colums
df.drop("mileage_plus_10").show()

+-----------+-----------+------+------+-------+-------+
|    company| body-style|length|engine|mileage|sunroof|
+-----------+-----------+------+------+-------+-------+
|alfa-romero|convertible| 168.8|  dohc|     21|     No|
|alfa-romero|  hatchback| 171.2|  dohc|     19|     No|
|       audi|      sedan| 176.6|   ohc|     24|    Yes|
|       audi|      sedan| 176.6|  None|     18|    Yes|
|       audi|      sedan| 177.3|   ohc|     19|    Yes|
|       audi|      wagon| 192.7|   ohc|     19|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     23|    Yes|
|        bmw|      sedan| 176.8|   ohc|     21|    Yes|
|        bmw|      sedan|   189|   ohc|     16|    Yes|
|        bmw|      sedan| 193.8|   ohc|     16|    Yes|
|        bmw|      sedan|   197|   ohc|     15|    Yes|
|  chevrolet|  hatchback| 141.1|   ohc|     47|     No|
|  chevrolet|  hatchback| 155.9|   ohc|     38|     No|
|  chevrolet|      sedan| 158.8|   ohc|     38|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      dodge|  hatchback| 157.3|   ohc|     31|     No|
|      honda|      wagon| 157.1|   ohc|     30|     No|
|      honda|      sedan| 175.4|   ohc|     24|     No|
|      honda|      sedan| 169.1|   ohc|     25|     No|
+-----------+-----------+------+------+-------+-------+
only showing top 20 rows

### **Renameing** colums

In [36]:
df.withColumnRenamed("length","len").show()

+-----------+-----------+-----+------+-------+-------+
|    company| body-style|  len|engine|mileage|sunroof|
+-----------+-----------+-----+------+-------+-------+
|alfa-romero|convertible|168.8|  dohc|     21|     No|
|alfa-romero|  hatchback|171.2|  dohc|     19|     No|
|       audi|      sedan|176.6|   ohc|     24|    Yes|
|       audi|      sedan|176.6|  None|     18|    Yes|
|       audi|      sedan|177.3|   ohc|     19|    Yes|
|       audi|      wagon|192.7|   ohc|     19|    Yes|
|        bmw|      sedan|176.8|   ohc|     23|    Yes|
|        bmw|      sedan|176.8|   ohc|     23|    Yes|
|        bmw|      sedan|176.8|   ohc|     21|    Yes|
|        bmw|      sedan|  189|   ohc|     16|    Yes|
|        bmw|      sedan|193.8|   ohc|     16|    Yes|
|        bmw|      sedan|  197|   ohc|     15|    Yes|
|  chevrolet|  hatchback|141.1|   ohc|     47|     No|
|  chevrolet|  hatchback|155.9|   ohc|     38|     No|
|  chevrolet|      sedan|158.8|   ohc|     38|     No|
|      dodge|  hatchback|157.3|   ohc|     31|     No|
|      dodge|  hatchback|157.3|   ohc|     31|     No|
|      honda|      wagon|157.1|   ohc|     30|     No|
|      honda|      sedan|175.4|   ohc|     24|     No|
|      honda|      sedan|169.1|   ohc|     25|     No|
+-----------+-----------+-----+------+-------+-------+
only showing top 20 rows

In [39]:
#sorting data
df.sort(df['length'].desc()).show()

+-------------+----------+------+------+-------+-------+
|      company|body-style|length|engine|mileage|sunroof|
+-------------+----------+------+------+-------+-------+
|mercedes-benz|     sedan| 208.1|  ohcv|     14|    Yes|
|       jaguar|     sedan| 199.6|  dohc|     15|    Yes|
|       jaguar|     sedan| 199.6|  dohc|     15|    Yes|
|mercedes-benz|   hardtop| 199.2|  ohcv|     14|    Yes|
|          bmw|     sedan|   197|   ohc|     15|    Yes|
|          bmw|     sedan| 193.8|   ohc|     16|    Yes|
|         audi|     wagon| 192.7|   ohc|     19|    Yes|
|       jaguar|     sedan| 191.7|  ohcv|     13|    Yes|
|mercedes-benz|     sedan| 190.9|   ohc|     22|    Yes|
|mercedes-benz|     wagon| 190.9|   ohc|     22|    Yes|
|          bmw|     sedan|   189|   ohc|     16|    Yes|
|        volvo|     sedan| 188.8|   ohc|     23|     No|
|        volvo|     wagon| 188.8|   ohc|     23|     No|
|       toyota|     wagon| 187.8|  dohc|     19|     No|
|       nissan|     sedan| 184.6|  ohcv|     19|     No|
|         audi|     sedan| 177.3|   ohc|     19|    Yes|
|          bmw|     sedan| 176.8|   ohc|     23|    Yes|
|          bmw|     sedan| 176.8|   ohc|     23|    Yes|
|          bmw|     sedan| 176.8|   ohc|     21|    Yes|
|         audi|     sedan| 176.6|   ohc|     24|    Yes|
+-------------+----------+------+------+-------+-------+
only showing top 20 rows